___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [1]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [2]:
df=pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [3]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30362 entries, 0 to 30361
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                30362 non-null  int64
 1   EmployeeName      30361 non-null  object
 2   JobTitle          30361 non-null  object
 3   BasePay           30361 non-null  float64
 4   OvertimePay       30361 non-null  float64
 5   OtherPay          30361 non-null  float64
 6   Benefits          0 non-null      float64
 7   TotalPay          30361 non-null  float64
 8   TotalPayBenefits  30361 non-null  float64
 9   Year              30361 non-null  float64
 10  Notes             0 non-null      float64
 11  Agency            30361 non-null  object
 12  Status            0 non-null      float64
dtypes: float64(9), int64(1), object(3)
memory usage: 3.0+ MB

**What is the average BasePay ?**

In [5]:
df['BasePay'].mean()

74696.90481835249

** What is the highest amount of OvertimePay in the dataset ? **

In [6]:
df['OvertimePay'].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [8]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [9]:
df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [13]:
df[df['TotalPayBenefits']== df['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [16]:
df[df['TotalPayBenefits']== df['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
30360,30361,SU QING CHEN,LIBRARY PAGE,14604.0,0.0,78.22,NaN,14682.22,14682.22,2011.0,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [21]:

df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')
df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
df = df[df['BasePay'].notna()]
result = df.groupby('Year').agg({'BasePay': 'mean'})
print(result)

             BasePay
Year
2011.0  74696.904818

<ipython-input-21-aa9510766135>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')
<ipython-input-21-aa9510766135>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = pd.to_numeric(df['Year'], errors='coerce')

** How many unique job titles are there? **

In [22]:
df['JobTitle'].nunique()

1026

** What are the top 5 most common jobs? **

In [24]:
df['JobTitle'].value_counts().head(5)

JobTitle
TRANSIT OPERATOR      2063
REGISTERED NURSE      1188
SPECIAL NURSE          834
FIREFIGHTER            786
POLICE OFFICER III     771
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [25]:
sum(df[df['Year']==2013]['JobTitle'].value_counts()==1)

0

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [26]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [27]:
sum(df['JobTitle'].apply(lambda x: chief_string(x)))

199

# Great Job!